@font-face {
    font-family: "icons";
    src: url("./icons.eot?f40d5ec1742e78ba01ae930c51ac5eb5?#iefix") format("embedded-opentype"),
url("./icons.woff2?f40d5ec1742e78ba01ae930c51ac5eb5") format("woff2"),
url("./icons.woff?f40d5ec1742e78ba01ae930c51ac5eb5") format("woff"),
url("./icons.ttf?f40d5ec1742e78ba01ae930c51ac5eb5") format("truetype"),
url("./icons.svg?f40d5ec1742e78ba01ae930c51ac5eb5#icons") format("svg");
}

i[class^="ki-"]:before, i[class*=" ki-"]:before {
    font-family: icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.ki-alert-triangle:before {
    content: "\f101";
}
.ki-book:before {
    content: "\f102";
}
.ki-calendar-new:before {
    content: "\f103";
}
.ki-calendar:before {
    content: "\f104";
}
.ki-caret-down:before {
    content: "\f105";
}
.ki-caret-up-down:before {
    content: "\f106";
}
.ki-caret-up:before {
    content: "\f107";
}
.ki-check:before {
    content: "\f108";
}
.ki-chevron-down:before {
    content: "\f109";
}
.ki-chevron-left:before {
    content: "\f10a";
}
.ki-chevron-right:before {
    content: "\f10b";
}
.ki-chevron-up:before {
    content: "\f10c";
}
.ki-circle-check:before {
    content: "\f10d";
}
.ki-circle-full:before {
    content: "\f10e";
}
.ki-circle-info:before {
    content: "\f10f";
}
.ki-circle-pause:before {
    content: "\f110";
}
.ki-circle-question:before {
    content: "\f111";
}
.ki-circle-step-1:before {
    content: "\f112";
}
.ki-circle-step-2:before {
    content: "\f113";
}
.ki-circle-step-3:before {
    content: "\f114";
}
.ki-circle-step-4:before {
    content: "\f115";
}
.ki-circle-step-5:before {
    content: "\f116";
}
.ki-circle-step-6:before {
    content: "\f117";
}
.ki-circle-three-dots:before {
    content: "\f118";
}
.ki-circle-x:before {
    content: "\f119";
}
.ki-circle:before {
    content: "\f11a";
}
.ki-clock-rewind:before {
    content: "\f11b";
}
.ki-clock:before {
    content: "\f11c";
}
.ki-comment:before {
    content: "\f11d";
}
.ki-copy-paste:before {
    content: "\f11e";
}
.ki-copy:before {
    content: "\f11f";
}
.ki-dash:before {
    content: "\f120";
}
.ki-document-added:before {
    content: "\f121";
}
.ki-document:before {
    content: "\f122";
}
.ki-download:before {
    content: "\f123";
}
.ki-drag-handle-2:before {
    content: "\f124";
}
.ki-drag-handle:before {
    content: "\f125";
}
.ki-expand-vertical:before {
    content: "\f126";
}
.ki-expand:before {
    content: "\f127";
}
.ki-external-link:before {
    content: "\f128";
}
.ki-file:before {
    content: "\f129";
}
.ki-filter:before {
    content: "\f12a";
}
.ki-folder:before {
    content: "\f12b";
}
.ki-gear:before {
    content: "\f12c";
}
.ki-hierarchical-back:before {
    content: "\f12d";
}
.ki-html-dot:before {
    content: "\f12e";
}
.ki-html-plus:before {
    content: "\f12f";
}
.ki-html:before {
    content: "\f130";
}
.ki-import:before {
    content: "\f131";
}
.ki-intern-overheid:before {
    content: "\f132";
}
.ki-intern-regering:before {
    content: "\f133";
}
.ki-intern-secretarie:before {
    content: "\f134";
}
.ki-link-broken:before {
    content: "\f135";
}
.ki-lock-closed:before {
    content: "\f136";
}
.ki-lock-open:before {
    content: "\f137";
}
.ki-mail:before {
    content: "\f138";
}
.ki-minimize:before {
    content: "\f139";
}
.ki-ministerraad:before {
    content: "\f13a";
}
.ki-no-sign:before {
    content: "\f13b";
}
.ki-not-visible:before {
    content: "\f13c";
}
.ki-paperclip:before {
    content: "\f13d";
}
.ki-pdf-dot:before {
    content: "\f13e";
}
.ki-pdf-plus:before {
    content: "\f13f";
}
.ki-pdf:before {
    content: "\f140";
}
.ki-pencil:before {
    content: "\f141";
}
.ki-plus:before {
    content: "\f142";
}
.ki-printer-view:before {
    content: "\f143";
}
.ki-printer:before {
    content: "\f144";
}
.ki-public:before {
    content: "\f145";
}
.ki-redo:before {
    content: "\f146";
}
.ki-search:before {
    content: "\f147";
}
.ki-sign:before {
    content: "\f148";
}
.ki-signinghub:before {
    content: "\f149";
}
.ki-sitemap:before {
    content: "\f14a";
}
.ki-synchronize:before {
    content: "\f14b";
}
.ki-three-dots:before {
    content: "\f14c";
}
.ki-trash:before {
    content: "\f14d";
}
.ki-upload:before {
    content: "\f14e";
}
.ki-user-add:before {
    content: "\f14f";
}
.ki-user-check:before {
    content: "\f150";
}
.ki-user:before {
    content: "\f151";
}
.ki-users:before {
    content: "\f152";
}
.ki-visible:before {
    content: "\f153";
}
.ki-website:before {
    content: "\f154";
}
.ki-word-dot:before {
    content: "\f155";
}
.ki-word-plus:before {
    content: "\f156";
}
.ki-word:before {
    content: "\f157";
}
.ki-x:before {
    content: "\f158";
}
